<a-box class="wall" position="${xpos} ${height/2} ${ypos}" width="${npaintings * margin + margin * 0.5}" height="${height}">
    <a-entity class="paintings" layout="type: line; margin: ${margin}" position="-1.5 0 0.51" paintings-list="${paintings}">
        <!- append paintings here -->
    </a-entity>
</a-box>
